<div>
  <div class="card bg-light mb-3">
      <h2>How are you today?</h2>
      <form [formGroup]="moodForm" (ngSubmit)="onSubmit()">
          <label class="display-block">
        <input type="radio" value="0" formControlName="moods">Happy
          </label>
          <label class="display-block">
        <input type="radio" value="1" formControlName="moods">Just normal really
          </label>
          <label class="display-block">
        <input type="radio" value="2" formControlName="moods">A bit "meh"
          </label>
          <label class="display-block">
        <input type="radio" value="3" formControlName="moods">Grumpy
          </label>
          <label class="display-block">
        <input type="radio" value="4" formControlName="moods">Stressed out - Not a happy camper
          </label>
        <input type="text" placeholder="Add a message with your mood." id="mood_message" formControlName="moodMessage">
        <button id="submit_button">Submit</button>
    </form>
      <div class="alert-primary">
          <p *ngIf="submitted; then showMessage else hideMessage"></p>
          <ng-template #showMessage>Sorry, you can only submit once per day, please come back tomorrow.</ng-template>
          <ng-template #hideMessage></ng-template>
      </div>
    <div class="card-header">
      <p *ngIf="online; then thenBlock else elseBlock"></p>
      <ng-template #thenBlock>online</ng-template>
      <ng-template #elseBlock>offline</ng-template>
    </div>
  </div>
</div>

